<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Example of a Flask template">
    <meta name="keywords" content="python, flask, template">
    <meta name="author" content="David Sol">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">
    <title>Message Board -
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <h1>Message Board</h1>
    {% include("_navigation.html") %}
    <section>
      <header>
        {% block header %}
        {% endblock header %}
      </header>
      <main>
        {% block content %}
          <p>No messages.</p>
        {% endblock content %}
      </main>
    </section>
  </body>
</html>
