{% extends 'base.html' %}
{% block header %}
  <h2>
    {% block title %}
      About
    {% endblock title %}
  </h2>
{% endblock header %}
{% block content %}
  <p>This is a message board for friendly messages.</p>
{% endblock content %}
