{% extends 'base.html' %}
{% block header %}
  <h2>
    {% block title %}
      Home
    {% endblock title %}
  </h2>
{% endblock header %}
{% block content %}
  <p>
    Learn more about this project by visiting the <a href="{{ url_for("pages.about") }}">About page</a>.
  </p>
{% endblock content %}
